*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;

    /* debug */
    background-color: blue;
    height: 700px;
}

h4{
    color: white;
}

header{

    /* debug */
    height: 100px;
    background-color: yellow;
}

main{

    /* debug */
    height: 600px;
    background-color: palevioletred;
}

footer{

    /* debug */
    height: 100px;
    background-color: aqua;
}

.row{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
}

.container-xs{
    width: calc(100% - 12.5rem);
    margin: auto;
    
    /* debug */
    height: 700px;
    background-color: green;
}


/* SIDEBAR */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12.5rem;
    margin: auto;
    padding: 1.5rem;
    background-color: black;
    /* debug */
    height: 700px;
    
}

ul{
    list-style: none;
    line-height: 1.5rem;
}

ul img{
    height: 1.5rem;
}

.size-icon{
    font-size: 2rem;
}

.download{
    height: 1rem;
}

.separatore{
    border: 1px solid #575757;
}

.profile{
    height: 1.5rem;
    border-radius: 50%;
    background-color: #575757;
}





/* MEDIA QUERY */
@media screen and (max-width: 878px) {
    
}

@media screen and (max-width: 639px) {
    
}

@media screen and (max-width: 552px) {
    
}