*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;

    /* debug */
    background-color: blue;
    height: 800px;
}

header{

    /* debug */
    margin-top: 50px;
    height: 150px;
    background-color: yellow;
}

main{

    /* debug */
    height: 450px;
    background-color: palevioletred;
}

footer{

    /* debug */
    height: 100px;
    background-color: aqua;
}

.row{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
}

.sidebar{
    width: 12.5rem;
    margin: auto;
    /* debug */
    height: 700px;
    background-color: red;
}

.container-xs{
    width: calc(100% - 12.5rem);
    margin: auto;
    /* debug */
    height: 700px;
    background-color: green;
}